
.login-form,
.signup-form {
    display: none;
    margin-top: 30px;
}
.login a{
    color: rgb(245, 12, 12);
    margin-top: 20px;
    margin-right: 20px;
    font-size: larger;
}
.login{
    color: bisque;
    display: flex;
}
    
.login h2{
    color: bisque;
}