
.login-form,
.signup-form {
    display: none;
}
.login a{
    color: rgb(245, 12, 12);
    margin-top: 20px;
    margin-right: 20px;
    font-size: larger;
}
.login{
    color:  rgb(245, 12, 12);
    display: flex;}
    
.login h2{
    color:  rgb(245, 12, 12);
}